body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

h5 {
  margin-top: 30px;
}

.bg-darkorange {
  background-color: #ae431e;
}

.bg-beige {
  background-color: #ffe6bc;
}

.general-col {
  text-align: center;
}

.home-container {
  width: 66%;
}

.home-img {
  width: 50%;
}

.home-card {
  text-align: center;
}

.ingredient-img {
  height: 25px;
  width: 25px;
  float: left;
  margin-right: 10px;
}

.page-content {
  padding-bottom: 80px;
}

.recipe-row {
  margin-bottom: 16px;
}

.recipe-header {
  text-align: right;
  padding: 10px 0;
}

.recipe-header > a {
  color: black;
  margin: auto 10px;
}

.filter-row {
  margin-bottom: 16px;
}

.rating-star {
  font-size: 3rem;
}

.search-bar {
  max-width: 335px;
  float: right;
}

.section-title {
  margin-left: 50px;
}

.title-instructions {
  text-align: center;
  margin: 30px auto;
}

.variable {
  color: #ae431e;
}

.qty {
  float: right;
}

.ingredient {
  margin-bottom: 16px;
}

.ingredient > p {
  margin-bottom: 3px;
}

.use-method {
  font-style: italic;
  margin-left: 35px;
}

#title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 50px auto;
}

.hidden {
  display: none !important;
}

/****** CARD ******/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  margin: 10px auto 0px 10px;
}

.recipe-card {
  height: 100%;
}

.card-body > p {
  margin: 0;
  padding: 0;
}

/***
.card-rating i {
}
***/

a > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18); /*3px 5px 5px grey;*/
  position: relative;
  right: 3px;
  bottom: 5px;
  transition: 0.2s;
}

a > .card {
  color: black;
  text-decoration: none;
}

.session-card-img {
  width: 150px;
}

.card.session-card {
  flex-direction: row;
}
/******* FOOTER ******/

a.footer-link {
  color: white;
}

.footer-container {
  background-color: #ae431e;
  bottom: 0;
  color: white;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 15px 5px;
  text-align: center;
}

.p-footer {
  margin-bottom: 5px;
}

/****** NAVBAR ******/

.navbar-brand {
  font-family: "Stardos Stencil", cursive;
  font-size: 1.75rem;
  font-weight: 400;
  padding-right: 20px;
}

.nav-item {
  padding-right: 16px;
}

#useravatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

/****** FROMS & INPUTS ******/
.form-group {
  margin: 32px auto;
  padding: 10px 16px;
}

.input-label {
  width: 200px;
}

.input-small {
  width: 100px;
}

.input-large {
  width: 400px;
}

.form-ingredient {
  margin-top: 20px;
}

.form-group > a {
  color: #ae431e;
}

.form-ingredient > a {
  color: #ae431e;
}

/****** STAR RATING ******/

.star-rating {
  margin: 25px 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
