body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.bg-darkorange {
  background-color: #ae431e;
}

.bg-beige {
  background-color: #ffe6bc;
}

.general-col {
  text-align: center;
}

.home-container {
  width: 66%;
}

.home-img {
  width: 50%;
}

.home-card {
  text-align: center;
}

.ingredient-img {
  height: 25px;
  width: 25px;
  float: left;
  margin-right: 10px;
}

.page-content {
  padding-bottom: 80px;
}

.recipe-row {
  margin-bottom: 16px;
}

.recipe-header {
  text-align: right;
  padding: 10px 0;
}

.recipe-header > a {
  color: black;
  margin: auto 10px;
}

.filter-row {
  margin-bottom: 16px;
}

.rating-star {
  font-size: 3rem;
}

.search-bar {
  max-width: 335px;
  float: right;
}

.section-title {
  margin-left: 50px;
}

.title-instructions {
  text-align: center;
  margin: 30px auto;
}

.variable {
  color: #ae431e;
}

.qty {
  float: right;
}

.ingredient {
  margin-bottom: 16px;
}

.ingredient > p {
  margin-bottom: 3px;
}

.use-method {
  font-style: italic;
  margin-left: 35px;
}

#title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 50px auto;
}

.hidden {
  display: none !important;
}

/****** CARD ******/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  margin: 10px auto 0px 10px;
}

.recipe-card {
  height: 100%;
}

.card-body > p {
  margin: 0;
  padding: 0;
}

.card-rating {
  float: right;
}

a > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18); /*3px 5px 5px grey;*/
  position: relative;
  right: 3px;
  bottom: 5px;
  transition: 0.2s;
}

a > .card {
  color: black;
  text-decoration: none;
}

.session-card-img {
  width: 150px;
}

.card.session-card {
  flex-direction: row;
}
/******* FOOTER ******/

a.footer-link {
  color: white;
}

.footer-container {
  background-color: #ae431e;
  bottom: 0;
  color: white;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 15px 5px;
  text-align: center;
}

.p-footer {
  margin-bottom: 5px;
}

/****** NAVBAR ******/

.navbar-brand {
  font-family: "Stardos Stencil", cursive;
  font-size: 1.75rem;
  font-weight: 400;
  padding-right: 20px;
}

.nav-item {
  padding-right: 16px;
}

/****** FROMS & INPUTS ******/
.form-group {
  margin: 32px auto;
  padding: 10px 16px;
}

.input-label {
  width: 200px;
}

.input-small {
  width: 100px;
}

.input-large {
  width: 400px;
}

.form-ingredient {
  margin-top: 20px;
}

.form-group > a {
  color: #ae431e;
}

.form-ingredient > a {
  color: #ae431e;
}

/****** CONTAINERS ******/
