<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- My Custom CSS-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Favicon-->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico')}}"
    />

    <!-- Font Awesome Icons-->
    <script
      src="https://kit.fontawesome.com/f65f2d7e69.js"
      crossorigin="anonymous"
    ></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Stardos+Stencil:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkorange">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.home')}}">BeerCraft</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('views.home')}}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.recipes_view')}}"
                >Recipes</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.sessions_view')}}"
                >Sessions</a
              >
            </li>
          </ul>
        </div>
        {% if 'profile' not in session %}
        <div>
          <a
            class="btn btn-outline-light btn-login"
            href="{{ url_for('auth.login')}}"
            >Log In</a
          >
        </div>
        {% else %}
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item avatar">
              <img
                id="useravatar"
                class="rounded-circle"
                src="{{session['profile']['picture']}}"
                alt="avatar"
              />
            </li>
          </ul>
        </div>
        <div>
          <a
            class="btn btn-outline-light btn-login"
            href="{{ url_for('auth.logout')}}"
            >Log Out</a
          >
        </div>
        {% endif %}
      </div>
    </nav>
    <!-- Content -->
    <div class="page-content">{% block content %} {% endblock %}</div>
    <!-- Footer -->
    <footer class="footer-container">
      <p class="p-footer">© 2022 François Bilodeau</p>
      <div>
        <div>
          Icons made by
          <a
            class="footer-link"
            href="https://www.flaticon.com/authors/flat-icons"
            title="Flat Icons"
            >Flat Icons</a
          >
          from
          <a
            class="footer-link"
            href="https://www.flaticon.com/"
            title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
